body {
    margin: 0;
    padding: 20px;
}

.container {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 3px solid black;
}


.top {
    height: 100px;
    background-color: purple;
    border: 3px solid;

}


.middle {
    height: 100px;
    background-color: cyan;
    border: 3px solid;
}


.bottom {
    display: flex;
    height: 200px;
}


.left {
    width: 70%;
    background-color: lightblue;
}


.right {
    width: 30%;
    background-color: white;
    border: 1px solid black;
}