body {
    font-family: Georgia, serif;
    background-color: #f8fafc;
    color: #222;
    margin: 0;
}

header {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-size: 40px;
}

header h3 {
    font-size: 18px;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

p {
    margin-bottom: 30px;
    line-height: 1.8;
    font-size: 18px;
}

/* First letter */
p::first-letter {
    font-size: 35px;
    font-weight: bold;
}

/* First line */
p::first-line {
    font-weight: bold;
}

/* Mark */
mark {
    background-color: #fde68a;
    padding: 2px 5px;
}

/* Blockquote */
blockquote {
    background-color: #e0f2fe;
    border-left: 6px solid #0284c7;
    padding: 25px;
    margin: 35px 0;
    font-style: italic;
    font-size: 20px;
}